body {
    padding: 0.5em;
    font-family: 'roboto sans', helvetica, arial, sans-serif;
}

.search-results {
    margin-top: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(8, 1fr);
    gap: 2em 2em;
    place-items: center;
}

.thumbnail-container {
    border: 2px solid blue;
    min-width: 1em;
    min-height: 1em;
}

.thumbnail {
    vertical-align: bottom;
}

@media screen and (max-width: 1550px) {
    .search-results {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}
